# Django-related files and folders to ignore

*.pyc
*.pyo
__pycache__/
db.sqlite3

# Project-specific files and folders to ignore

env/
media/
static/
*.log

# Ignore all files in the migrations folder except for __init__.py

**/migrations/*
!**/migrations/__init__.py

# Ignore local settings file (if you're using one)

local_settings.py