{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Apartment4u</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="{% static 'css/home.css' %}">	
</head>

<body>
   
	<!-- nav bar  -->
	<div id="navbar">
		<a href="{% url 'home' %}" class="active" onclick="highlightNav(this)">File Upload<div class="hori-selector"></div></a>
		<a href="{% url 'train' %}" onclick="highlightNav(this)">Training<div class="hori-selector"></div></a>
		<a href="#" onclick="highlightNav(this)">Predict<div class="hori-selector"></div></a>
		<div class="company-name">Apartment 4 U</div>
	  </div>

   <div class="intro">
    <p>
    House Price Prediction web application utilizes a  Linear Regression  model to accurately predict the price of a house.
    <br> You can get started by uploading a CSV file below!
    </p>
  </div>
  
	
<div class="frame">
    <div class="center">
        <div class="title">
        <p>Upload your file</p>
	    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file-upload">Select CSV file</label>
        <input type="file" id="file-upload" name="csv_file" accept=".csv">
        <input type="submit" value="Submit" class="hidden">

        </form>
        </div>
    </div>
</div>



<script src="{% static 'js/home.js' %}"></script>
</body>
</html>
