{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Apartment4u</title>
	
  <link rel="stylesheet" href="{% static 'css/predict.css' %}">	

</head>
<body>
    
	<!-- nav bar  -->
	<div id="navbar">
		<a href="{% url 'home' %}"  onclick="highlightNav(this)">File Upload<div class="hori-selector"></div></a>
		<a href="{% url 'train' %}"  onclick="highlightNav(this)">Training<div class="hori-selector"></div></a>
		
		<a href="{% url 'predict' %}" class="active" onclick="highlightNav(this)">Predict<div class="hori-selector"></div></a>
		<div class="company-name">Apartment 4 U</div>
	  </div>
      <h1>Predictor</h1>
      <div class="main">
        <h1>please enter the following values:</h1>

        <form action="result">
          <div class="row">
            <div class="col-sm-4" >
              <p>zip code</p>
              <input type="text" name="n1"  pattern="\d*" title="Please enter only numbers.">
            </div>
            <div class="col-sm-4" >
              <p>square meters</p>
              <input type="text" name="n2"  pattern="\d*" title="Please enter only numbers.">
            </div>
            <div class="col-sm-4" >
              <p>acre size</p>
              <input type="text" name="n3"  pattern="\d*" title="Please enter only numbers.">
            </div>
            <div class="col-sm-4" >
              <p>number of bedrooms</p>
              <input type="text" name="n4"  pattern="\d*" title="Please enter only numbers.">
            </div>
            <div class="col-sm-4" >
              <p>number of bathrooms</p>
              <input type="text" name="n5"  pattern="\d*" title="Please enter only numbers.">
            </div>

          </div>
        </form>

      </div>
      <button class="button" id="predict-price">Predict Price</button>
      <div id="result-div"></div>

      <div id="error-message"></div>
     
      <script src="{% static 'js/predict.js' %}"></script>



    
   


	

        
	
</body>
</html>
