{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Apartment4u</title>
  <link rel="stylesheet" href="{% static 'css/train.css' %}">
	</head>

<body>
    
	<!-- nav bar  -->
	<div id="navbar">
		<a href="{% url 'home' %}"  onclick="highlightNav(this)">File Upload<div class="hori-selector"></div></a>
		<a href="{% url 'train' %}" class="active" onclick="highlightNav(this)">Training<div class="hori-selector"></div></a>
		
		<a href="#" onclick="highlightNav(this)">Predict<div class="hori-selector"></div></a>
		<div class="company-name">Apartment 4 U</div>
	  </div>

    <h1>Select Columns for Training</h1>
    <select class="select" id="header-select" multiple>
    {% for header in headers %}
      <option value="{{ header }}">{{ header }}</option>
    {% endfor %}
   </select>

    <button class="button" id="train-button">Train</button>

    <div class="success-message" id="success-message">Training completed!</div>
    <button class="button" id="predict-button" style="display:none;">Predict</button>

 

<form style="display:none;">
  {% csrf_token %}
</form>   
	

<script src="{% static 'js/train.js' %}"></script>    
	
</body>
</html>
